<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Dam</title>
  </head>
  <body style="background-color: rgb(30, 31, 31)">
    <center>
      <style>
        td {
          padding: 17px;
        }
        th {
          padding: 15px;
          padding-left: 5px;
          align-items: center;
        }
      </style>
      <table class="table" style="padding-top: 20px">
        <thead>
          <tr style="color: white; font-size: 20px; font-family: verdana">
            <th>DID</th>

            <th>DNAME</th>
            <th>DADRESS</th>
            <th>RL_PRESENT</th>
            <th>RL_LAST_YR</th>

            <th>MAX CAPACITY</th>

            <th>INFLOW TMC</th>
            <th>OUTFLOW TMC</th>
          </tr>
        </thead>

        <tbody>
          <% if(items.length > 0){ %> <% for(var i = 0;i < items.length;i++) {
          %>
          <tr
            style="
              color: white;
              font-size: 13px;
              font-family: Arial;
              font-weight: bold;
            "
          >
            <td><%= items[i].Did %></td>
            <td><%= items[i].Dname %></td>
            <td><%= items[i].Adress %></td>
            <td><%= items[i].RL_present %></td>
            <td><%= items[i].RL_last_yr %></td>
            <td><%= items[i].Max_capacity %></td>
            <td><%= items[i].Inflow_TMC %></td>
            <td><%= items[i].Outflow_TMC %></td>
          </tr>
          <% } %> <% } else{ %>
          <h1 style="color: red; font-family: Tahoma">Empty</h1>
          <% } %>
        </tbody>

        <tbody></tbody>
      </table>
    </center>
    <br /><br /><br /><br />
    <a
      class="d"
      style="
        color: rgb(250, 255, 255);
        padding-left: 40px;
        font-family: fantasy;
      "
      href="/back"
      >Back</a
    >
  </body>
</html>
